

.container-patch{
    margin-left: 150px;
    margin-right: 150px;
    padding: 0 15px;
}
.post-content{
line-height: 1.5;
margin:30px 0px;
font-size: 20px;
font-family: 'Lora', 'Times New Roman', serif;
}

.highlight{
    background: #eef;
}
.highlight .nv{
    color:#008080
}
.highlight .nt{
    color:#000080
}
.highlight .o{
    font-weight:bold
}
pre.highlight{
    background-attachment: scroll;
    padding: 8px 12px;
    border : 1px 1px;
    margin-bottom: 16px;
}

